/* .process-grid  - Workflow container
--------------------------------------------------------------------------------*/

.tau-workflow-container,
.tau-workflow-contents,
.process-grid {
    height: 100%;
}

.tau-workflow-container {
    position: relative;
    background-color: $gBoardBackground;
}

.tau-container__title {
    display: flex;
    align-items: center;

    &__process-name,
    &__text {
        flex-shrink: 0;
        line-height: 24px;
        @mixin ellipsis
    ;
    }

    &__icon {
        flex-shrink: 0;
        opacity: 0.8;
        padding: 0 6px;
    }

    &__process-name {
        flex: 0 1 auto;
    }

    &__link {
        flex: 1 1 auto;
        overflow: hidden;
        text-align: right;

        > .tau-link {
            display: inline-block;
            max-width: calc(100% - 40px);
            margin: 0 20px;
            font-size: $gFontSize;
            font-weight: normal;
            line-height: 22px;
            @mixin ellipsis
        ;
        }
    }

    &__feedback {
        flex: 0 1 auto;
    }

}

.tau-workflow-contents .tau-container__title {
    margin: 0;
    padding: 20px 17px 10px 20px;
}

.tau-workflow-contents .tau-container__body {
    height: calc(100% - 54px);
    overflow-y: auto;
    padding-top: 10px;
    box-sizing: border-box;

    &--project {
        padding-top: 25px;

        .process-grid__wrap {
            min-height: 100%;
        }
    }
}

.tau-default-workflow__title {
    display: flex;
    height: 44px;
}

.tau-default-workflow__name {
    flex: 0 1 auto;
    min-width: 30px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 5px 0 4px;
    line-height: 22px;
    border: 1px solid transparent;
    @mixin ellipsis
;
}

.tau-workflow-contents .tau-workflow-setup-toolbox {
    flex-shrink: 0;
    margin-right: 15px;
    padding-bottom: 1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;

    &:first-child,
    &:empty {
        margin-right: 0;
    }
}

/* .process-grid  - Layout for process
--------------------------------------------------------------------------------*/

.process-grid {
    display: flex;
    align-items: stretch;
}

.process-grid__wrap {
    overflow-y: visible;
    position: relative;
    min-height: calc(100% - 44px);
}

.process-grid__item {
    position: relative;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 100%;

    & ~ .process-grid__item {
        border-left: 2px $gBoardBorderColor solid;
    }

    &:first-child {
        border-left: 0;
    }

    &.active {
        flex-grow: 0;
    }
}

/* .process-grid__state - State for process
--------------------------------------------------------------------------------*/

.process-grid__state {
    background-color: $gBackgroundDefault;
    box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.45);
    line-height: 26px;
    position: relative;
    z-index: 2;
    padding: 3px 8px;
    font-size: 13px;
    box-sizing: border-box;
    cursor: default;

    &__settings-icon {
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.process-grid__item ~ .process-grid__item .process-grid__state {
    margin-left: -2px;
    border-left: 2px solid $gBoardBorderColor;
}

.process-grid__item:first-child .process-grid__state,
.process-grid__custom-process__item:first-child .process-grid__state {
    border-radius: 5px 0 0 5px;
}

.process-grid__item:last-child .process-grid__state,
.process-grid__custom-process__item:last-child .process-grid__state {
    border-radius: 0 5px 5px 0;
}

.process-grid__state.tau-draggable:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 5px;
    background: svg("draganddrop") center center no-repeat;
    width: 6px;
    height: 12px;
}

.process-grid__state .process-grid__state__settings-icon {
    position: absolute;
    top: 7px;
    right: 4px;
    display: flex;
}

.tau-in-text--process-state {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 15px);
    margin: 0;
    line-height: 22px;
    font-weight: 600;
    @mixin ellipsis;

    &:focus {
        box-shadow: none;
    }

    &.tau-clickable {
        cursor: pointer;
        @mixin ellipsis;
    }

    &.editableText {
        padding: 0 4px;
        cursor: text;
        text-overflow: clip;
        user-select: text;

        &:hover {
            background-image: none;
            background-color: $gBackgroundDefault;
        }
    }

    .process-grid__state:not(.edit) > & {
        border-color: transparent;
        background: transparent;

    }
}

.process-grid__custom-process__name {
    @mixin ellipsis;
}

.process-grid__state.active,
.process-grid__state.edit {
    background-color: $gActionBackgroundSystem;
}

.process-grid__state.edit:before,
.process-grid__state.edit:after,
.process-grid__state.active:before,
.process-grid__state.active:after,
.process-grid__custom-process.active:before,
.process-grid__custom-process.active:after {
    display: none;
}

.process-grid__state.edit:before,
.process-grid__state.edit:after,
.process-grid__state.active:before,
.process-grid__state.active:after {
    margin-top: -7px;
    right: 3px;
    height: 14px;
}

.process-grid__state.edit:before,
.process-grid__state.active:before {
    left: 3px;
}

.process-grid__state.active {
    padding-right: 25px;
}

.process-grid__state.tau-info {
    min-height: 68px;
}

.process-grid__state.tau-team-state-info {
    min-height: 50px;
}

.process-grid__role {
    padding-left: 5px;
    font-size: 12px;
    line-height: 16px;
    color: $gFontColorGray;

    &.no-role {
        color: $gFontColorLightGray;
        font-style: italic;
    }
}

.process-grid__additional-info {
    font-size: 11px;
    line-height: 20px;
}

.process-grid__is-planned, .process-grid__is-final {
    color: $gFontColorSelected;
}

.process-grid__is-comment-required {
    color: $gFontColorWarning;
    display: flex;
    align-items: center;
    position: relative;
    left: -3px;
    line-height: $gIconsSizeDefault;

    &__icon {
        margin-right: 2px;
    }
}

.process-grid__is-planned,
.process-grid__is-final,
.process-grid__is-comment-required {
    padding: 0 5px;
    text-transform: uppercase;
}

.process-grid__role,
.process-grid__is-planned,
.process-grid__is-final,
.process-grid__is-comment-required {
    max-width: 100%;
    @mixin ellipsis
}

.process-grid__is-planned.tau-team-state, .process-grid__is-final.tau-team-state {
    line-height: 14px;
}

/* .process-grid__custom-process -  Custom process
--------------------------------------------------------------------------------*/

.process-grid__custom-process {
    z-index: 1;

    position: absolute;
    padding: 8px;
    margin: 0 -8px;
    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 2px 0 0 -1px rgba(0, 0, 0, 0.1), inset -2px 0 0 -1px rgba(0, 0, 0, 0.1);

    &.active {
        background: color($gActionBackgroundSystem a(80%));
    }

    &.active:before,
    &.active:after {
        height: 32px;
        margin-top: -16px;
        right: -5px;
    }

    &.active:after {
        left: -5px;
    }

    &.active .process-grid__custom-process__name {
        background: $gBackgroundDefault;
        border-color: $gControlBorderColorDefault;
    }

    &--short {
        > .process-grid__custom-process__title {

            .tau-btn-settings {
                padding-left: 7px;
                padding-right: 0;
                min-width: 0;

                > span:not(:first-child) {
                    display: none;
                }
            }

            .custom-process__usage-info {

                &__content {
                    display: inline;
                }

                &__content > span:first-child {
                    display: none;
                }
            }
        }
    }
}

.process-grid__custom-process__title {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;

    > .custom-process__control {
        display: flex;
        flex-shrink: 0;
        margin: 0 2px;
    }
}

.process-grid__custom-process__name {
    flex: 0 1 auto;
    order: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 0 5px 0 4px;
    line-height: 22px;
    border: 1px solid transparent;
}

.custom-process__usage-info {
    max-width: 100%;

    &__control {
        overflow: hidden;
    }

    &__content {
        display: flex;
        align-items: center;
        max-width: 220px;

        &__label {
            flex-shrink: 0;
            margin: 0 0 0 4px;

            &:last-child {
                flex-shrink: 1;
                @mixin ellipsis;
            }
            &--flex {
                display: flex;
            }

            &__text {
                flex: 0 0 auto;
                margin-right: 3px;
            }
        }
    }

    &:not(:disabled) .tau-txt--team {
        font-weight: 600;
        color: $gFontColorDefault;
    }

    .tau-team-label {
        color: $gFontColorDefault;
    }

    .tau-team-label__icon {
        margin-right: 4px;
    }

    &.tau-checked .tau-txt {
        color: rgba(255, 255, 255, 0.8);
    }

    &.tau-checked {
        .tau-txt--team,
        .tau-team-label {
            color: $gButtonColorChecked;
        }
    }
}

.process-grid__custom-process__body {
    position: relative;
    display: flex;

    align-items: stretch;

    width: 100%;
    height: 55px;
}

.process-grid__custom-process__item {
    position: absolute;
    flex: 1 1 auto;
    box-sizing: border-box;
    min-width: 100px;

    &:first-child {
        left: 2px;
    }

    & ~ .process-grid__custom-process__item .process-grid__state {
        border-left: 2px solid $gBoardBorderColor;
    }
}

.terms-container {
    height: 100%;
    overflow-y: auto;

    &__global-terms-title {
        margin-top: 50px;
    }


    &__title {
        display: flex;
        align-items: center;

        &__control {
            display: inline-flex;
            align-items: center;
            margin: 0 20px;
        }

        &__icon {
            padding: 0 6px;
        }
    }

    .tau-table-forms .tau-table-caption {
        min-width: 90px;
    }
}

/* Add New State button
--------------------------------------------------------------------------------*/

.tau-btn-add-state {
    position: absolute;
    z-index: 4;
    top: -24px;
    right: -13px;
    opacity: 0.7;
    visibility: hidden;
    transition: top ease 0.1s, visibility ease 0.1s;
    width: 24px;
    height: 24px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    background: svg("add-state", "[fill]: $gActionColorAdd") 0 0 no-repeat;
    text-align: left;
    text-indent: -999px;

    &:hover {
        opacity: 1;
    }

    &__icon {
        z-index: 1;
        position: absolute;
        top: 2px;
        left: 50%;
        margin-left: -8px;
        display: flex;
    }
}

.tau-add-state-placeholder {
    display: none;
    position: relative;

    > .tau-add-state-hover-zone {
        position: absolute;
        z-index: 1;

        width: 100px;
        height: calc(100% + 30px);
        left: -50px;
        top: -30px;
    }

    &.enabled {
        display: block;

        > .tau-btn-add-state.active,
        > .tau-btn-add-state:hover,
        > .tau-add-state-hover-zone:hover + .tau-btn-add-state {
            top: -25px;
            visibility: visible;
        }
    }
}

/* Dragging columns
--------------------------------------------------------------------------------*/

.process-grid__item.t3-dragging {
    background: color($gBoardBackground shade(5%) saturation(+10%));
}

.process-grid__item.t3-dragging .tau-in-text--process-state {
    color: $gFontColorGray;
}

.process-grid__item.t3-dragging .process-grid__state {
    background: transparent;
    box-shadow: none;
}

.process-grid__item.t3-dragging .process-grid__state:before {
    display: none;
}

.process-grid__item.t3-drag-ghost {
    border: 0;
}

.process-grid__item.t3-drag-ghost .process-grid__state {
    border: 0;
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;

    bottom: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.45);
    border-radius: $gBorderRadiusDefault;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* ie10, ie11+ */
    .process-grid__item.t3-drag-ghost .process-grid__state {
        box-shadow: none;
        position: static;
    }
}

.process-grid__state.tau-draggable {
    cursor: move;
}

.process-grid__state.tau-clickable {
    cursor: pointer;
}

/* Add Team Workflow
--------------------------------------------------------------------------------*/

.add-team-workflow {
    min-width: 560px;
    margin: 20px;

    &__control {
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 8px;
    }
}

.add-team-workflow .add-team-workflow__title {
    min-width: 240px;
    height: 30px;
    margin: 0 0 10px 0;
}

.add-team-workflow .add-team-workflow__title,
.add-team-workflow .add-team-workflow__textarea {
    width: 100%;
    min-width: 240px;
    max-width: 1000px;
}

@media screen and (max-width: 1500px) {
    .add-team-workflow .add-team-workflow__title,
    .add-team-workflow .add-team-workflow__textarea {
        max-width: 670px;
    }
}

@media screen and (max-width: 1180px) {
    .add-team-workflow .add-team-workflow__title,
    .add-team-workflow .add-team-workflow__textarea {
        max-width: 400px;
    }
}

@media screen and (max-width: 950px) {
    .add-team-workflow .add-team-workflow__title,
    .add-team-workflow .add-team-workflow__textarea {
        max-width: 240px;
    }

    .add-team-workflow .add-team-workflow__textarea {
        resize: none;
    }
}

.add-team-workflow__title:focus,
.add-team-workflow .add-team-workflow__textarea:focus {
    box-shadow: none;
    border-color: $gFocusBoxShadowColor;
}

.add-team-workflow .add-team-workflow__textarea {
    display: block;
    height: 143px;
    margin: 0;

    font-size: 13px;
}

.add-team-workflow .add-team-workflow__textarea.extended {
    height: 229px;
}

.add-team-workflow-content {
    display: table;
    width: 100%;
    margin-bottom: 14px;
}

.add-team-workflow-fields {
    display: table-cell;
    padding-right: 20px;
    border-right: 1px solid $gHighlightBlockBorderColor;
}

.add-team-workflow-controls {
    display: flex;
    align-items: center;

    &__item {
        &:not(:last-child) {
            margin-right: 4px;
        }

        &--trash {
            display: flex;
            flex: 1 0 auto;
            flex-direction: row-reverse;
        }
    }

    & > .tau-save-icon-loading {
        padding-top: 2px;
        padding-left: 7px;
    }
}

.add-team-workflow-mapping-format {
    display: table-cell;
    width: 300px;
    max-width: 300px;
    padding-left: 20px;

    &__warning {
        position: relative;
        margin: 0 0 7px;
    }

    &__text {
        margin: 0 0 7px;
        font-size: 12px;
        line-height: 16px;
    }

    &__content {
        position: relative;
        border-radius: $gBorderRadiusDefault;
        padding: 6px 38px 6px 10px;
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 16px;
        color: $gFontColorGray;
        background-color: $gHighlightBlockBackground;
    }

    &__link {
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 16px;

        &:first-child {
            margin-top: 12px;
        }
    }

}

/* Teams navigation hint
--------------------------------------------------------------------------------------------*/

.process-grid__custom-process__used-in-teams-link {
    order: 2;
    flex-shrink: 0;
    display: inline-block;
    padding-top: 5px;
    margin-left: 4px;
    border-bottom: 1px dotted $gFontColorLightGray;
    font-size: 11px;
    line-height: 14px;
    color: $gFontColorDefault;
    cursor: pointer;
    @mixin ellipsis
;
}

.process-grid__custom-process__used-in-teams-link:hover {
    color: $gFontColorDefault;
    border-bottom-color: transparent;
}

/* Workflow bubble */

.custom-process-bubble {
    font-size: 13px;

    .tau-bubble__inner {
        padding: 10px 0;
        width: 300px;
        max-height: 400px;
    }

    &__intro {
        padding: 0 7px;

        p {
            margin: 0 8px 8px 8px;
            color: $gFontColorGray;
        }

        &__search {
            margin-bottom: 12px;
        }
    }

    &__empty-message {
        padding: 5px 10px 5px 15px;
        color: $gFontColorLightGray;
    }

    &__title {
        display: flex;
        padding: 0 15px;
        min-height: 24px;

        &__text {
            flex: 1 1 auto;

            &__icon {
                display: none;
                margin: 0 0 0 3px;
                vertical-align: top;
                position: relative;
                top: 2px;
            }
        }

        &__button {
            margin-left: 15px;
            position: relative;
            top: -2px;
            flex-shrink: 0;
        }
    }
}

.custom-process-bubble__list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 300px;

    &__item {
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 15px;

        &.hover,
        &.hover:hover {
            background-color: $gActionBackgroundActive;
        }

        &:hover {
            background-color: $gActionBackgroundHover;
        }

        &.active,
        &.active:hover {
            .tau-team-label__text {
                font-weight: 600;
                color: inherit;
            }
        }

        &.clickable {
            cursor: pointer;
        }

        &__entity {
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .project-counter {
        flex: 0 0 auto;
        color: $gFontColorGray;
        font-size: 12px;
        padding-left: 5px;
    }
}

.custom-process-bubble__unassigned-projects {
    padding-top: 10px;

    &--close {

        .custom-process-bubble__title__text {
            color: $gLinkColor;
            cursor: pointer;
            &__icon {
                display: inline-block;
                opacity: 0.8;
            }

            &:hover {
                color: $gLinkColorHover;
            }

            &:hover &__icon {
                opacity: 0.7
            }
        }

        .custom-process-bubble__list {
            display: none;
        }
    }
}

/* endregion */

/* How to use workflow --------------------------------------------------*/

.tau-how-to-use-workflow {
    box-sizing: border-box;
    width: 765px;
    padding: 15px 30px;

    &__title {
        margin-bottom: 12px;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
    }

    &__description {
        margin-top: 21px;
    }

    &__text {
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
    }

    &__img {
        position: relative;
        margin-left: -9px;

        &--several-teams {
            width: 726px;
            height: 338px;
            background: url(../css.board/images/workflow/several-teams-work-on-one-item.png) no-repeat 0 0;
        }

        &--one-team {
            width: 726px;
            height: 338px;
            background: url(../css.board/images/workflow/one-team-works-on-one-item.png) no-repeat 0 0;
        }

        &__caption {
            position: absolute;
            bottom: 14px;
            left: 45px;
            width: 291px;
            text-align: center;
            color: $gFontColorSuccess;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
        }
    }
}

/* endregion */
