.tau-invite-widget {

    &__message {
        margin: 10px 0;
    }

    .tau-note {
        font-size: 0.8125em; /*13/16*/
        line-height: 1.7em;
        padding-top: 1em;
    }

    .tau-invite-field {
        border: 1px solid $gControlBorderColorDefault;
        padding: 0.4em; /*5/13*/
        min-height: 4.6em; /*60/13*/
        margin-bottom: 1.2em; /*16/13*/
        color: $gFontColorLightGray;
        position: relative;
        overflow: hidden;
        font-size: 0.8125em; /*13/16*/
        line-height: 1.3em; /*13/17*/

        &__inner {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .tau-user {
        display: inline-block;
        margin: 0 5px 5px 0;
        white-space: nowrap;
        color: $gFontColorDefault;

        &__avatar {
            vertical-align: middle;
            margin-right: 7px;
        }

        &__name {
            vertical-align: middle;
            display: inline-block;
            line-height: 20px;
            padding: 0 6px 0 0;
        }

        &__icon {
            display: inline-block;
            margin-right: 4px;
            vertical-align: middle;
        }
    }

    .tau-user-existing {
        background-color: $gSelectedTagBackground;
        line-height: 0;
    }

    .tau-user-invited {
        background-color: color($gFontColorSuccess a(10%));
        padding-left: 5px;
    }

    .tau-user-error {
        background-color: color($gFontColorAttention a(10%));
        padding-left: 5px;
    }

    .tau-user-undeletable {
        background-color: color($gFontColorWarning a(10%));
        padding-left: 5px;
    }

    .tau-call-tooltip {
        color: $gFontColorDefault;
    }

    .tau-invite-footer {
        display: flex;
        align-items: center;

        &__control {
            flex-shrink: 0;

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }

    &.disabled {
        cursor: default;
        opacity: $gControlDisabledOpacity;

        .tau-user__icon {
            display: none;
        }

        .tau-inputholder__input {
            display: none;
        }
    }
}

/* region Tooltip for invite user widget */
.tau-invite-widget-tooltip {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), inset 0 -1px rgba(0, 0, 0, .36);
    background-color: $gActionBackgroundSystem;
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 13px;
    width: 220px;
    padding: 8px 11px;

    &__message {
        margin-top: 8px;
        word-wrap: break-word;
    }
}

/* endregion Tooltip for invite user widget */

.tau-inputholder {
    vertical-align: top;
    line-height: 1.3em;
    position: relative;

    &__input {
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 13px;
        border: none;
        width: 10px;
        vertical-align: top;
        height: 18px !important;
        line-height: 18px !important;

        &:focus {
            outline: none;
        }
    }

    &__systemhelper,
    &__sizer {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 18px !important;
        height: 18px !important;
        font-size: 13px;
        text-decoration: none !important;
    }

    &__sizer {
        visibility: hidden;
    }

    &__systemhelper {
        color: $gFontColorGray;

        s {
            visibility: hidden;
            white-space: nowrap;
        }

    }
}

.tau-managed-category .tau-inputholder__systemhelper {
    width: 225px;
    white-space: normal;
}