/*  region .header-(h1-h6)  */

.header-h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
}

.header-h2 {
    font-size: 22px;
    line-height: 1.25;
    font-weight: normal;
    margin: 0;
}

.header-h3 {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
}

.header-h4 {
    font-size: 16px;
    line-height:  1.25;
    font-weight: 600;
    margin: 0;
}

.header-h5 {
    font-size: 14px;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
}

.header-h6 {
    font-size: 13px;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
}

/*  endregion  */


strong,
b {
    font-weight: 600;
}
