.tau-hide,
.hidden,
[hidden],
.ui-helper-hidden-accessible {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.tau-input-hidden {
    position: absolute;
    left: -99999px;
}