$boardOwnerImageSize: 20px;

.board-owner {
    line-height: 0;

    &__wrap {
        margin-left: 8px;

        &--empty {
            margin-left: 4px;
        }
    }

    &__owner-image {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        width: $boardOwnerImageSize;
        height: $boardOwnerImageSize;
    }

    &__text,
    &__wrap {
        display: inline-block;
        vertical-align: middle;
    }

    &__button {
        line-height: 0;
        padding-right: 3px;

        .board-owner__owner-image {
            margin-left: 2px;
            height: 16px;
            width: 16px;
        }
    }
}

/* region Board's owners list */

.board-owner-list {
    list-style: none;
    margin: 0;
    padding: 10px 10px 5px 10px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 3px 10px 3px 3px;
        margin: 2px 0;
        white-space: nowrap;

        &__delete {
            display: none;
            flex: 0 0 auto;
        }

        &__image {
            flex: 0 0 auto;
            margin-right: 7px;
        }

        &__text {
            flex: 1 1 auto;
            margin-right: 7px;
        }

        &:hover {
            background-color: $gActionBackgroundHover;

            .board-owner-list__item__delete {
                display: block;
            }
        }
    }

    &__invite-new {
        padding: 0 10px 10px 10px;
    }
}

/* endregion */
