/* region History Grid Interpretation */

$flowNormallColor: #acd473;

.tau-historyGridInterpretation {
    position: absolute;
    left: 0;
    top: 0;
    width: 199px;
    height: 100%;
    border-right: 1px solid #c8ced3;
    background: #fff;

    > div {
        width: 169px;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        border-top: solid 1px #c8ced3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        color: $gFontColorGray;
    }

    div:first-child {
        border: none;
    }

    .stateName {
        position: relative;
        font-weight: 600;
        background: #f5f6f7;
        color: $gFontColorDefault;
        cursor: help;

        span {
            position: relative;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            background: #e3e4e5 url(../../css.ui/images/patterns/lines-small.png);
        }

        &.tau-dateItems-0:before {
            width: 0;
        }

        &.tau-dateItems-10:before {
            width: 10%;
        }

        &.tau-dateItems-20:before {
            width: 20%;
        }

        &.tau-dateItems-30:before {
            width: 30%;
        }

        &.tau-dateItems-40:before {
            width: 40%;
        }

        &.tau-dateItems-50:before {
            width: 50%;
        }

        &.tau-dateItems-60:before {
            width: 60%;
        }

        &.tau-dateItems-70:before {
            width: 70%;
        }

        &.tau-dateItems-80:before {
            width: 80%;
        }

        &.tau-dateItems-90:before {
            width: 90%;
        }

        &.tau-dateItems-100:before {
            width: 100%;
        }

        &:hover {
            background-color: $gActionBackgroundSystem;

            &:before {
                background-color: #cccca3;
            }
        }
    }
}

/* endregion */

/* region History Grid inside Implementation History */

.tau-historyGrid {
    overflow: visible;
    overflow-x: scroll;
    padding-left: 1px;
    background: url(../../css.ui/images/patterns/square.png) repeat 0 0;

    table {
        border-collapse: collapse;
    }

    td {
        padding: 0;
        border-right: 1px dashed #e6e6e6;
        vertical-align: top;
        background: $gBackgroundDefault;

        &:hover {
            background: $gActionBackgroundSystem;
        }
    }
}

/* endregion */

/* region Progress Steps inside Implementation History */

.tau-historyItem {

    .tau-progressSteps {
        width: 100%;
    }

    .tau-step {
        width: 30px;
        height: 50px;
        border-top: 1px dashed #e6e6e6;
        position: relative;

        &:first-child {
            border: none;
        }

        .tau-marker {
            position: absolute;
            left: -1px;
            bottom: 0;
            padding-left: 2px;
            width: 100%;
            height: 100%;

            .tau-flow {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
            }

            .tau-assignments {
                position: absolute;
                z-index: 2;
                left: 0;
                bottom: 27px;

                &:hover {
                    z-index: 3;
                }

                img {
                    position: relative;
                    left: 3px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-bottom: 1px;
                    padding: 2px;
                    border: 1px solid #ccc;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
                    border-radius: 5px;
                    cursor: help;

                    opacity: 0.4;
                    background-color: #d7d7d7;
                    transition: all 0.2s ease;

                    &.active {
                        background-color: $gBackgroundDefault;
                        opacity: 1.0;
                    }

                    &:hover {
                        width: 50px;
                        height: 50px;
                        opacity: 1.0;
                    }
                }
            }

            &.tau-in,
            &.tau-out {
                padding-bottom: 1px;
                padding-left: 1px;
            }

            &.tau-in {
                border-left: 1px solid $flowNormallColor;

                &.tau-out {
                    border-left: 1px solid $flowNormallColor;
                    padding-left: 0;
                }

                .tau-flow {
                    left: -1px;
                }

                .tau-assignments img {
                    left: 2px;
                }
            }

            &.tau-out {
                border-right: 1px solid $flowNormallColor;
            }

        }
    }

    &:last-child .tau-step .tau-marker .tau-assignments {
        left: auto;
        right: 6px;

        img {
            float: right;
            clear: right;
        }
    }

    &:first-child .tau-step .tau-marker .tau-assignments {
        right: auto;
        left: 0;

        img {
            float: none;
        }
    }

}

/* endregion */

/* region Date inside Implementation History */

.tau-implementationHistory {
    border: 1px solid #c8ced3;
    padding-left: 200px;
    position: relative;
    margin: 10px 0;

    /* region Flow inside Implementation History */

    .tau-flow {
        display: inline-block;
        width: 32px;
        height: 25px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 25px;
        background: url(../../css.ui/images/sprites/progress_flow.png) no-repeat -32px -15px;
        font-size: 11px;
        font-weight: 600;
        color: $gFontColorSuccess;
        text-indent: 3px;

        &.tau-normal {
            background-color: $flowNormallColor;
            background-position: 0 0;
        }

        &.tau-transitions {
            background-color: #90c644;
            background-position: -32px 0;
        }

        &.tau-impediment {
            background-color: #ff7833;
        }

        &.tau-done {
            background-color: $flowNormallColor;
            background-position: -96px 0;
            height: 40px;
        }

        .datespan {
            position: relative;
            display: block;
            height: 100%;
            font-size: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 150%;
            cursor: help;

            &__text {
                position: absolute;
                left: 0;
                bottom: 2px;
                color: #7da44e;
                font-size: 9px;
                line-height: normal;
            }

            &:hover {
                color: $gFontColorDefault;
            }
        }
    }

    /* endregion */

    &__icon {
        position: relative;
        display: block;
        width: 24px;
        height: 14px;
        margin: 5px auto;
        opacity: 0.7;
        transition: opacity 0.3s ease;

        &.tau-closed {
            background: svg("checkbox", "[fill]: $gFontColorWhite") center center no-repeat;
        }

        &:hover,
        &.tau-highlight {
            opacity: 1;

            .tau-legend & {
                opacity: 0.7;
            }
        }
    }

    .tau-historyItem {

        &:hover .tau-date {
            border-color: #999;
            border-left-width: 1px;
            margin-left: -1px;
            font-weight: 600;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

        .tau-relatedEntities {
            width: 30px;
            min-height: 60px;
        }
    }

    .tau-date {
        width: 30px;
        height: 50px;
        line-height: 50px;
        position: relative;
        border: solid #f1f2f3;
        border-width: 1px 1px 1px 0;
        margin-right: -1px;
        background: $gBackgroundDefault;
        cursor: help;
        color: $gFontColorGray;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background: #DEF7BC;
        }

        &.tau-timeLoad-0:before {
            height: 0;
        }

        &.tau-timeLoad-10:before {
            height: 10%;
        }

        &.tau-timeLoad-20:before {
            height: 20%;
        }

        &.tau-timeLoad-30:before {
            height: 30%;
        }

        &.tau-timeLoad-40:before {
            height: 40%;
        }

        &.tau-timeLoad-50:before {
            height: 50%;
        }

        &.tau-timeLoad-60:before {
            height: 60%;
        }

        &.tau-timeLoad-70:before {
            height: 70%;
        }

        &.tau-timeLoad-80:before {
            height: 80%;
        }

        &.tau-timeLoad-90:before {
            height: 90%;
        }

        &.tau-timeLoad-100:before {
            height: 100%;
        }

        .tau-day {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 25px;
            text-align: center;
            line-height: 29px;
            font-size: 12px;
        }

        .tau-month {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 25px;
            text-align: center;
            line-height: 16px;
            font-size: 9px;
        }
    }

    /* endregion */

    /* region History Stats inside Implementation History */

    .tau-historyStats {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 10px;
        z-index: 2;
        opacity: 0.5;
        background: #333;
        color: $gFontColorWhite;
        padding: 4px 6px;
        border-radius: $gBorderRadiusDefault;

        table {
            border-collapse: collapse;
        }

        td {
            padding: 0;

            &:first-child {
                text-align: left;
                padding-right: 0.5em;
            }
        }
    }

    /* endregion */

    /* region Legend inside Implementation History */

    .tau-legend {
        position: relative;
        overflow: hidden;
        margin: 0 -120px 0 -80px;
        left: -120px;
        border-top: 1px solid #ccc;
        background: $gBackgroundDefault;
        background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);

        h3 {
            float: left;
            color: $gFontColorGray;
            font-weight: normal;
            margin: 0;
            padding: 2px 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 11px;

            span {
                border-bottom: 1px dotted;
                cursor: pointer;
            }
        }

        .tau-groups {
            margin-left: 160px;
            overflow: hidden;
            padding: 15px;
            margin-top: 0;
        }

        dl {
            float: left;
            margin-right: 30px;
            color: $gFontColorGray;
        }

        dt {
            font-size: 14px;
            margin-bottom: 15px;
        }

        dd {
            margin: 0.5em 0;
            font-size: 11px;
        }

        .glyph {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.5em 0 0;
            cursor: default;

            &.tau-historyGridInterpretation {
                position: static;
                width: auto;
                height: auto;
                border: 1px solid #c8ced3;

                .stateName {
                    width: auto;
                    cursor: default;
                }
            }

            &.tau-date {
                border: 1px solid #999;
            }
        }

        &.tau-collapsed .tau-groups {
            display: none;
        }

    }
}

/* endregion */

