.tau-team-members {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
    }

    &__item {
        display: flex;
        margin: 0 1px;
        cursor: pointer;
    }

    &__counter {
        flex-shrink: 0;
        padding-left: 4px;
        font-size: 11px;
        color: $gFontColorLightGray;
        line-height: 20px;
        position: relative;
        top: 2px;
    }

    &__more {
        flex-shrink: 0;
        margin-left: 4px;
        position: relative;
        top: 6px;
        opacity: 0.5;
    }
}


