.view-description {

    max-width: 300px;
    font-size: $gFontSize;

    &__description {
        &__text {
            white-space: pre-wrap;
        }
    }

    /*&__group:not(:last-child) {
        padding-bottom: $gSpaceSM;
    }*/

    &__group {
        padding: $gSpaceS $gSpaceSM $gSpaceSM $gSpaceSM;
        position: relative;

        &:last-child {
            padding-bottom: $gSpaceS;
        }

        &:not(:last-child) {

            &:after {
                content: '';
                height: 1px;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: $gHighlightBlockBorderColor;
            }
        }

        &__title {
            font-weight: 600;
            padding-bottom: $gSpaceS;
        }

        &__body {
            padding-left: 0;
        }
    }

    &__entities {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -$gSpaceXS;

        &__item {
            margin: 0 $gSpaceXS $gSpaceXS 0;
        }
    }

    &__entities-filter {
        color: $gFontColorGray;
        font-size: 12px;
        padding-top: $gSpaceS;
    }

    &__visual-encoding {
        &__item {
            display: flex;
            align-items: flex-start;
            padding-bottom: $gSpaceS;

            &:last-child {
                padding: 0;
            }
        }

        &__icon {
            flex: 0 0 auto;
            margin: 0 $gSpaceS 0 0;

        }

        .color-picker__item--indicator {
            width: $gIconsSizeDefault;
            height: $gIconsSizeDefault;
            margin: 0;
            box-sizing: border-box;
        }

        &__filter {
            color: $gFontColorGray;
            font-size: 12px;
        }
    }
}