/* region Allow everyone to try tp3 */
.allow-tp3-panel {
    background: url("../../css.board/images/allow-tp3-pattern.png") 0 0 repeat-x;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    &__info {
        border-bottom: 1px dotted $gFontColorGray;
        color: $gFontColorWhite;
        cursor: pointer;
        font-size: 13px;
        position: absolute;
        right: 20px;
        top: 10px;

        &:hover {
            border: medium none;
            color: $gFontColorWhite;
        }
    }

    &__control {
        position: relative;
        top: 6px;
        display: inline-block;

        sup {
            font-size: 10px;
            line-height: 0;
        }
    }
}

.allow-tp3-bubble {

    .tau-bubble__inner {
        max-width: 305px;
        padding: 10px 15px;
    }

    &__title {
        font-weight: 600;
        font-size: 13px;
        line-height: 1.3;
        margin-bottom: 7px;
    }

    &__image {
        background: url("../../css.board/images/allow-tp3-bubble.png") no-repeat scroll 0 0 transparent;
        height: 57px;
        margin-bottom: 10px;
        width: 305px;
    }

    &__text {
        font-size: 11px;
    }
}

/* endregion */
