.login-fields {
    position: relative;

    .login-inputs-wrap {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 1800px) {
            flex-direction: row;
        }
    }

    .login-forgot-link {
        position: absolute;
        right: 0;
        top: -7px;
        line-height: 14px;
        font-size: 12px;
        color: $gFontColorLightGray;

        &:hover {
            border-bottom-color: color($gFontColorLightGray a(50%));
        }
    }
}