.ui-progressbar__data {
    position: relative;
    min-width: 200px;
    display: flex;

    &__done {
        flex: 1 0 33%;
    }

    &__percent {
        font-weight: 600;
        flex: 1 1 auto;
        text-align: center;
    }

    &__remain {
        flex: 1 0 33%;
        text-align: right;
    }
}

.ui-progressbar__progress {
    position: relative;
    height: 6px;
    margin: 5px 0;
    border-radius: $gBorderRadiusDefault;

    background-color: $gHighlightBlockBorderColor;

    &__indicator {
        overflow: hidden;
        height: 100%;
        border-radius: $gBorderRadiusDefault;
        background-color: #74d04c;
    }
}

