.ui-print {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border: 2px solid $gHighlightBlockBorderColor;
    right: 15px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    }

    .ui-print__controls__print {
        color: $gFontColorSuccess !important;
        padding: 5px 10px ;
        font-size: 12px;
        line-height: 13px;
        }

    .ui-print__controls__close {
        padding-left: 35px;
        font-weight: bold;
        }


@media print {
    .ui-print {
        display: none;
        }

    html, body {
        overflow: auto !important;
        }

}
