.click-edit {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
    pointer-events: none;

    .tau-board-list-view & {
        pointer-events: all;
    }

    .tau-board-list-view .tau-board-unit & {
        max-width: calc(100% + 2*5px);
        margin-left: -5px;
        padding-left: 5px;
    }

    &__link {
        display: flex;
        align-items: center;
        max-width: 100%;
        min-width: 0;
        flex-shrink: 1;
        margin-right: auto;
        outline: none;
    }

    &__icon-wrapper {
        margin: 1px 2px 1px 0;
        flex-shrink: 0;
    }

    &__link-text {
        color: $gFontColorDefault;
        transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
        @mixin ellipsis;
    }

    &__link:hover &__link-text {
        color: $gLinkColor;
        text-decoration: underline;
    }

    &__edit-icon {
        margin-right: -5px;
        overflow: hidden;
        width: 5px;
        box-sizing: border-box;
        opacity: 0;
        transition: width .05s ease-out .15s, opacity .15s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-shrink: 0;
    }

    &:hover &__edit-icon {
        opacity: 1;
        width: 20px;
        transition: width .05s cubic-bezier(0.645, 0.045, 0.355, 1), opacity .15s ease-out .15s;
    }
    &__icon-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover &__icon-overlay {
        opacity: 1;
    }

    &__link:hover ~ &__edit-icon &__icon-overlay {
        opacity: 0;
    }

    & .tau-project-full-name {
        text-align: left;
        text-align: start;
        color: $gFontColorDefault;
        transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    & .tau-project-full-name:hover {
        color: $gLinkColor;
        text-decoration: underline;
    }
}