.tau-project-full-name {
    display: block;
    box-sizing: border-box;
    min-width: 30px;
    height: 20px;
    line-height: 18px;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-style: normal;
    text-shadow: none;
    text-align: center;
    color: $gFontColorDefault;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: $gControlBorderRadiusDefault;
    background: transparent;
}
