.recent-item-time {
    box-sizing: border-box;
    min-width: 45px;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    white-space: nowrap;
    color: $gFontColorSuccess;


    &__count {
        display: inline-block;
        text-align: right;
        min-width: 13px;
    }

    &__units {
        display: inline-block;
        text-align: left;
        margin-left: 3px;
        min-width: 29px;
    }
}
