.board-axis-header-elem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 32px;
    padding: 2px 0;
    line-height: 28px;

    &__icon {
        flex: 0 0 auto;

        .tau-collapsed & {
            opacity: 0.6;
        }
    }

    &__icon,
    &__text {
        margin-left: 3px;

        &:first-child {
            margin-left: 0;
        }
    }

    .tau-cell & {
        flex-wrap: wrap;

        .tau-collapsed & {
            flex-wrap: nowrap;
        }
    }
}
